.background_color {
  display: flex;
  direction: row;
  align-items: center;
  background-image: url("../../Assets/blue-img.png");
  width: 100%;
  height: 680px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: center;
}
.trusted_heading {
  width: 100%;
  color: #fff;
  text-align: center;
  text-shadow: 0px 6px 0px #000747;
  font-family: "Kavoon";
  font-size: 73px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cash_offer {
  display: flex;
  direction: column;
  align-items: center;
  width: 100%;
  color: #fff;

  text-align: center;
  font-family: "Inter";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 22%;
  padding-right: 22%;
  margin-top: 2%;
}
.doller_img {
  width: 472.123px;
  height: 440px;
  flex-shrink: 0;
}
.call_box2 {
  width: 25%;
  height: 60px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #85b400;
  margin-left: 35%;
  margin-top: 5%;
  border-bottom: 3px solid #fff;
}
.phone_class{
    width: 60px;
height: 60px;
margin-left: 12%;
margin-top: 3% !important;
padding-bottom: 6%;
padding-right: 6%;
padding-left: 2%;
flex-shrink: 0;
vertical-align: middle;
}
.call_us_name4{
    color: #FFF;
text-align: center;
font-family: "Inter";
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top:3% !important;

}



@media only screen and (max-width: 2500px){
  .background_color {
    display: flex;
    direction: row;
    align-items: center;
    background-image: url("../../Assets/blue-img.png");
    width: 100%;
    height: 680px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
  }
  .trusted_heading {
    width: 100%;
    color: #fff;
    text-align: center;
    text-shadow: 0px 6px 0px #000747;
    font-family: "Kavoon";
    font-size: 73px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 10%;
    padding-left: 10%;
  }
  .cash_offer {
    display: flex;
    direction: column;
    align-items: center;
    width: 100%;
    color: #fff;
  
    text-align: center;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 22%;
    padding-right: 22%;
    margin-top: 2%;
  }
  .doller_img {
    width: 472.123px;
    height: 440px;
    flex-shrink: 0;
    margin-left: -50%;
  }
  .call_box2 {
     
    width: 25%;
    height: 60px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #85b400;
    margin-left: 35%;
    margin-top: 5%;
    border-bottom: 3px solid #fff;
  }
  .phone_class{
      width: 60px;
  height: 60px;
  margin-left: 12%;
  margin-top: 3% !important;
  padding-bottom: 6%;
  padding-right: 6%;
  padding-left: 2%;
  flex-shrink: 0;
  vertical-align: middle;
  }
  .call_us_name4{
      color: #FFF;
  text-align: center;
  font-family: "Inter";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top:3% !important;
  
  }
}

@media only screen and (max-width: 1800px){
  .background_color {
    display: flex;
    direction: row;
    align-items: center;
    background-image: url("../../Assets/blue-img.png");
    width: 100%;
    height: 680px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
  }
  .trusted_heading {
    width: 100%;
    color: #fff;
    text-align: center;
    text-shadow: 0px 6px 0px #000747;
    font-family: "Kavoon";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 10%;
    padding-left: 10%;
  }
  .cash_offer {
    display: flex;
    direction: column;
    align-items: center;
    width: 100%;
    color: #fff;
  
    text-align: center;
    font-family: "Inter";
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 22%;
    padding-right: 22%;
    margin-top: 2%;
  }
  .doller_img {
    width: 472.123px;
    height: 440px;
    flex-shrink: 0;
    margin-left: -10%;
  }
  .call_box2 {
     
    width: 25%;
    height: 60px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #85b400;
    margin-left: 35%;
    margin-top: 5%;
    border-bottom: 3px solid #fff;
  }
  .phone_class{
      width: 60px;
  height: 60px;
  margin-left: 12%;
  margin-top: 3% !important;
  padding-bottom: 6%;
  padding-right: 6%;
  padding-left: 2%;
  flex-shrink: 0;
  vertical-align: middle;
  }
  .call_us_name4{
      color: #FFF;
  text-align: center;
  font-family: "Inter";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top:3% !important;
  
  }
}

@media only screen and (max-width: 1400px){
  .background_color {
    display: flex;
    direction: row;
    align-items: center;
    background-image: url("../../Assets/blue-img.png");
    width: 100%;
    height: 680px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
  }
  .trusted_heading {
    width: 100%;
    color: #fff;
    text-align: center;
    text-shadow: 0px 6px 0px #000747;
    font-family: "Kavoon";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 10%;
    padding-left: 10%;
  }
  .cash_offer {
    display: flex;
    direction: column;
    align-items: center;
    width: 100%;
    color: #fff;
  
    text-align: center;
    font-family: "Inter";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 22%;
    padding-right: 22%;
    margin-top: 2%;
  }
  .doller_img {
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    margin-left: -10%;
  }
  .call_box2 {
     
    width: 30%;
    height: 60px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #85b400;
    margin-left: 35%;
    margin-top: 5%;
    border-bottom: 3px solid #fff;
  }
  .phone_class{
      width: 60px;
  height: 60px;
  margin-left: 10%;
  margin-top: 3% !important;
  padding-bottom: 6%;
  padding-right: 6%;
  padding-left: 2%;
  flex-shrink: 0;
  vertical-align: middle;
  }
  .call_us_name4{
      color: #FFF;
  text-align: center;
  font-family: "Inter";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top:3% !important;
  
  }
}

@media only screen and (max-width: 1150px){
  .background_color {
    display: flex;
    direction: row;
    align-items: center;
    background-image: url("../../Assets/blue-img.png");
    width: 100%;
    height: 600px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
  }
  .trusted_heading {
    width: 100%;
    color: #fff;
    text-align: center;
    text-shadow: 0px 6px 0px #000747;
    font-family: "Kavoon";
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 0%;
    padding-left: 0%;
  }
  .cash_offer {
    display: flex;
    direction: column;
    align-items: center;
    width: 100%;
    color: #fff;
  
    text-align: center;
    font-family: "Inter";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 2%;
  }
  .doller_img {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    margin-left: -0%;
  }
  .call_box2 {
     
    width: 35%;
    height: 60px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #85b400;
    margin-left: 35%;
    margin-top: 5%;
    border-bottom: 3px solid #fff;
  }
  .phone_class{
      width: 60px;
  height: 60px;
  margin-left: 4%;
  margin-top: 3% !important;
  padding-bottom: 6%;
  padding-right: 6%;
  padding-left: 2%;
  flex-shrink: 0;
  vertical-align: middle;
  }
  .call_us_name4{
      color: #FFF;
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top:3% !important;
  
  }
}

@media only screen and (max-width: 830px){
  .background_color {
    display: flex;
    direction: row;
    align-items: center;
    background-image: url("../../Assets/blue-img.png");
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
  }
  .trusted_heading {
    width: 100%;
    color: #fff;
    text-align: center;
    text-shadow: 0px 6px 0px #000747;
    font-family: "Kavoon";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 0%;
    padding-left: 0%;
  }
  .cash_offer {
    display: flex;
    direction: column;
    align-items: center;
    width: 100%;
    color: #fff;
  
    text-align: center;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 2%;
  }
  .doller_img {
    width: 300px;
    height: 280px;
    flex-shrink: 0;
    margin-left: -0%;
  }
  .call_box2 {
     
    width: 35%;
    height: 55px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #85b400;
    margin-left: 35%;
    margin-top: 5%;
    border-bottom: 3px solid #fff;
  }
  .phone_class{
      width: 40px;
  height: 40px;
  margin-left: 4%;
  margin-top: 10% !important;
  padding-bottom: 8%;
  padding-right: 6%;
  padding-left: 4%;
  flex-shrink: 0;
  vertical-align: middle;
  }
  .call_us_name4{
      color: #FFF;
  text-align: center;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top:3% !important;
  
  }
}

@media only screen and (max-width: 680px){
  .background_color {
    display: flex;
    direction: row;
    align-items: center;
    background-image: url("../../Assets/blue-img.png");
    width: 100%;
    height: 380px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
  }
  .trusted_heading {
    width: 100%;
    color: #fff;
    text-align: center;
    text-shadow: 0px 6px 0px #000747;
    font-family: "Kavoon";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 0%;
    padding-left: 0%;
  }
  .cash_offer {
    display: flex;
    direction: column;
    align-items: center;
    width: 100%;
    color: #fff;
  
    text-align: center;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 2%;
  }
  .doller_img {
    width: 220px;
    height: 240px;
    flex-shrink: 0;
    margin-left: -0%;
  }
  .call_box2 {
     
    width: 40%;
    height: 45px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #85b400;
    margin-left: 35%;
    margin-top: 5%;
    border-bottom: 3px solid #fff;
  }
  .phone_class{
      width: 30px;
  height: 30px;
  margin-left: 4%;
  margin-top: 12% !important;
  padding-bottom: 8%;
  padding-right: 6%;
  padding-left: 4%;
  flex-shrink: 0;
  vertical-align: middle;
  }
  .call_us_name4{
      color: #FFF;
  text-align: center;
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top:3% !important;
  
  }
}

@media only screen and (max-width: 530px){
  .background_color {
    display: flex;
    direction: row;
    align-items: center;
    background-image: url("../../Assets/blue-img.png");
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
  }
  .trusted_heading {
    width: 100%;
    color: #fff;
    text-align: center;
    text-shadow: 0px 6px 0px #000747;
    font-family: "Kavoon";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 0%;
    padding-left: 0%;
  }
  .cash_offer {
    display: flex;
    direction: column;
    align-items: center;
    width: 100%;
    color: #fff;
  
    text-align: center;
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 2%;
  }
  .doller_img {
    width: 160px;
    height: 160px;
    flex-shrink: 0;
    margin-left: 0%;
  }
  .call_box2 {
     
    width: 42%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #85b400;
    margin-left: 30%;
    margin-top: 5%;
    border-bottom: 3px solid #fff;
  }
  .phone_class{
      width: 30px;
  height: 30px;
  margin-left: 8%;
  margin-top: 8% !important;
  padding-bottom: 8%;
  padding-right: 6%;
  padding-left: 4%;
  flex-shrink: 0;
  vertical-align: middle;
  }
  .call_us_name4{
      color: #FFF;
  text-align: center;
  font-family: "Inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top:3% !important;
  
  }
}

@media only screen and (max-width: 420px){
  .background_color {
    display: flex;
    direction: row;
    align-items: center;
    background-image: url("../../Assets/blue-img.png");
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
  }
  .trusted_heading {
    width: 100%;
    color: #fff;
    text-align: center;
    text-shadow: 0px 6px 0px #000747;
    font-family: "Kavoon";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 0%;
    padding-left: 0%;
  }
  .cash_offer {
    display: flex;
    direction: column;
    align-items: center;
    width: 100%;
    color: #fff;
  
    text-align: center;
    font-family: "Inter";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 2%;
  }
  .doller_img {
    width: 130px;
    height: 130px;
    flex-shrink: 0;
    margin-left: 0%;
  }
  .call_box2 {
     
    width: 42%;
    height: 35px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #85b400;
    margin-left: 30%;
    margin-top: 5%;
    border-bottom: 3px solid #fff;
  }
  .phone_class{
      width: 25px;
  height: 25px;
  margin-left: 4%;
  margin-top: 8% !important;
  padding-bottom: 8%;
  padding-right: 6%;
  padding-left: 4%;
  flex-shrink: 0;
  vertical-align: middle;
  }
  .call_us_name4{
      color: #FFF;
  text-align: center;
  font-family: "Inter";
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top:3% !important;
  
  }
}

@media only screen and (max-width: 350px){
  .background_color {
    display: flex;
    direction: row;
    align-items: center;
    background-image: url("../../Assets/blue-img.png");
    width: 100%;
    height: 250px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
  }
  .trusted_heading {
    width: 100%;
    color: #fff;
    text-align: center;
    text-shadow: 0px 6px 0px #000747;
    font-family: "Kavoon";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 0%;
    padding-left: 0%;
  }
  .cash_offer {
    display: flex;
    direction: column;
    align-items: center;
    width: 100%;
    color: #fff;
  
    text-align: center;
    font-family: "Inter";
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 2%;
  }
  .doller_img {
    width: 110px;
    height: 110px;
    flex-shrink: 0;
    margin-left: 0%;
  }
  .call_box2 {
     
    width: 42%;
    height: 32px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #85b400;
    margin-left: 30%;
    margin-top: 5%;
    border-bottom: 3px solid #fff;
  }
  .phone_class{
      width: 22px;
  height: 22px;
  margin-left: 2%;
  margin-top: 8% !important;
  padding-bottom: 8%;
  padding-right: 6%;
  padding-left: 4%;
  flex-shrink: 0;
  vertical-align: middle;
  }
  .call_us_name4{
      color: #FFF;
  text-align: center;
  font-family: "Inter";
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top:3% !important;
  
  }
}