.main_div3{
    display:flex ;
      align-items: center;
      direction: row;
      width: 100%;
      
  }
  .faq_color{
      width: 100%;
  
    height: 90px;
    flex-shrink: 0;
    background: #343C82;
  }
  .faq_input{
      color: #fff;
    text-align: center;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 0%;
  }
  @media only screen and (max-width: 800px){
      .main_div {
          display: flex;
          align-items: start;
          width: 100%;
        }
        .faq_color {
          width: 100%;
        
          height: 94px;
          flex-shrink: 0;
          background: #343C82;
        }
        .faq_input {
          color: #fff;
          text-align: center;
          font-family: "Inter";
          font-size: 30px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          padding-top: 1%;
        }
  }
  
  @media only screen and (max-width: 530px){
      .main_div {
          display: flex;
          align-items: start;
          width: 100%;
        }
        .faq_color {
          width: 100%;
        
          height: 80px;
          flex-shrink: 0;
          background: #343C82;
        }
        .faq_input {
          color: #fff;
          text-align: center;
          font-family: "Inter";
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          padding-top: 2%;
        }
  }